[submodule "ArduinoServo"]
	path = ArduinoServo
	url = https://github.com/quangthanh010290/ArduinoServo.git
[submodule "firebase-arduino"]
	path = firebase-arduino
	url = https://github.com/firebase/firebase-arduino.git
[submodule "esp8266"]
	path = esp8266
	url = https://github.com/quangthanh010290/esp8266.git
[submodule "RF24"]
	path = RF24
	url = https://github.com/nRF24/RF24.git
[submodule "RF24Network"]
	path = RF24Network
	url = https://github.com/nRF24/RF24Network.git
[submodule "RF24Mesh"]
	path = RF24Mesh
	url = https://github.com/nRF24/RF24Mesh.git
[submodule "MQTT.js"]
	path = MQTT.js
	url = https://github.com/mqttjs/MQTT.js.git
[submodule "libraries/ESPAsyncWebServer"]
	path = libraries/ESPAsyncWebServer
	url = https://github.com/me-no-dev/ESPAsyncWebServer.git
[submodule "libraries/ESPAsyncTCP"]
	path = libraries/ESPAsyncTCP
	url = https://github.com/me-no-dev/ESPAsyncTCP.git
[submodule "libraries/firebase-arduino"]
	path = libraries/firebase-arduino
	url = https://github.com/firebase/firebase-arduino.git
